<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <ul class="problems">
      <li>
      <div>문제</div><br/>
      <div><%= quiz %></div>
    </li>
  </ul>
  </body>
  </html>
